<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ticket System{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% comment %} <link rel="icon" href="{% static 'images/favicon.ico' %}"> {% endcomment %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="bg-red-700 text-gray-800 min-h-screen">

    <!-- Navbar -->
    <nav class="bg-white shadow-md py-4 px-6">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'home' %}" class="text-xl font-bold text-red-600">🎟 Ticket System</a>
            <div>
               <a href="{% url 'home' %}" class="text-sm text-black hover:underline mr-4">Home</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="py-10 px-4">
        <div class="container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    {% block scripts %}{% endblock scripts %}
</body>
</html>
